<!DOCTYPE html>
<html lang="es" ng-app="app">
	<head> 
		<link rel="stylesheet" href="../public/stylesheets/style.css">  
		<link rel="stylesheet" href="../public/stylesheets/bootstrap.min.css">
		<script type='text/javascript', src='https://maps.googleapis.com/maps/api/js?signed_in=true&libraries=visualization,places,travelMode,geometry'></script>
		<script type="text/javascript" src="../public/javascripts/jquery.min.js"></script>		
		<script type="text/javascript" src="../public/javascripts/angular.min.js"></script>
		<script type="text/javascript" src="../public/javascripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="../public/javascripts/underScore.js"></script>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/highcharts-more.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script type="text/javascript" src="../public/javascripts/gasStation.js"></script>
	</head>
	<body ng-controller="appController">
		<!-- Menu -->
		<div class="container">			
			<h1>Gas Station Simulator</h1>
			<ul class="nav nav-pills nav-justified">
				<li ng-class="{ active: menu[0]}" ng-click="stateMenu(0)"><a href="#t1">Map</a></li>
				<li ng-class="{ active: menu[1]}" ng-click="stateMenu(1)"><a href="#t2">Stages</a></li>
				<li ng-class="{ active: menu[2]}" ng-click="stateMenu(2)"><a href="#t3">Gas stations</a></li>
				<li ng-class="{ active: menu[3]}" ng-click="stateMenu(3)"><a href="#t4">Cars</a></li>				
				<li ng-class="{ active: menu[4]}" ng-click="stateMenu(4)"><a href="#t5">Statistics</a></li>	
			</ul>
		</div>
		<!-- Map Tab -->
		<div id="t1" ng-show="menu[0]">
			<h3>Map</h3>

			<div class="row">
				<form class="form-inline" role="form">
					<div class="form-group">
						<label for="cityOrigin">Origin City</label>
						<input type="text" class="form-control" id="cityOrigin" placeholder="Ex: Barcelona">
					</div>
					<div class="form-group">
						<label for="cityDestination">City Destination</label>
						<input type="text" class="form-control" id="cityDestination" placeholder="Ex: Roma">
					</div>
					<div class="form-group">
						<label for="numGasStations">Gas stations number</label>
						 <input type="number" class="form-control" id="numGasStations" min="1" >
					</div>
					<button type="submit" class="btn btn-default" ng-click="setRoute()">Entrar</button>
				</form>
			</div>

			<div id="map" class="row">				
			</div>

			<!-- modal add and modify station-->
			<div id="markerModal" class="modal fade" role="dialog">
				<div class="modal-dialog modal-lg">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button class="close" type="button" data-dismiss='modal'>×</button>
							<h4 class="modal-title" ng-show="!edittingStation">Add Station</h4>
							<h4 class="modal-title" ng-show="edittingStation">Edit Station</h4>
						</div>
						<div id="#modalBody" class="modal-body form-inline form-group">
							<form role="form">								
								<div class="form-group">
									<label for="markerLat">Lat</label>
									<input id="markerLat" ng-model="stationLat" class="form-control" type="number"></input>
								</div>
								<div class="form-group">
									<label for="marketLng">Lng</label>
									<input id="marketLng" ng-model="stationLng" class="form-control" type="number"></input>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" type="button" data-dismiss='modal', ng-click="saveStation()">Save</button>
							<button class="btn btn-default" type="button" data-dismiss='modal'>Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Satages Tab -->
		<div id="t2" ng-show="menu[1]">
			<h3>Stages</h3>
			<h4>Total distance {{routeDistance}}</h4>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nª</th>
						<th>Km Origin</th>
						<th>Km end</th>
						<th>Size</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='stage in arrStages'>
						<td>{{$index+1}}</td>
						<td>{{stage.kmOrign}}</td>
						<td>{{stage.kmEnd}}</td>
						<td>{{stage.size}}</td>
						<td><button class="btn btn-default" ng-click="editStage($index)" data-toggle="modal" data-target="#stageModal">Edit</button></td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- Gas Stations Tab -->
		<div id="t3" ng-show="menu[2]">
			<h3>Gas Stations</h3>			
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nª</th>
						<th>Tiempo de servicio (minutos)</th>
						<th>Coste por litro €</th>
						<th>Carburante</th>
						<th>Lat</th>
						<th>Lng</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='station in arrGasStations'>
						<td>{{$index+1}}</td>
						<td>{{station.timeService}}</td>
						<td>{{station.price}}</td>
						<td>{{station.quantity}}</td>
						<td>{{station.location.lat}}</td>
						<td>{{station.location.lng}}</td>
						<td><button class="btn btn-default" ng-click="editStation($index)" data-toggle="modal" data-target="#stationModal">Edit</button></td>
					</tr>
				</tbody>
			</table>

			<!-- modal add and modify station-->
			<div id="stationModal" class="modal fade" role="dialog">
				<div class="modal-dialog modal-lg">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button class="close" type="button" data-dismiss='modal'>×</button>
							<h4 class="modal-title" ng-show="!edittingStation">Add Station</h4>
							<h4 class="modal-title" ng-show="edittingStation">Edit Station</h4>
						</div>
						<div id="#modalBody" class="modal-body form-inline form-group">
							<form role="form">								
								<div class="form-group">
									<label for="timeService">Time service (minutes)</label>
									<input id="timeService" ng-model="timeService" class="form-control" type="text"></input>
								</div>
								<div class="form-group">
									<label for="priceFuel">Price per liter (€)</label>
									<input id="priceFuel" ng-model="priceFuel" class="form-control" type="text"></input>
								</div>
								<div class="form-group">
									<label for="fuelStation"> Fuel</label>
									<input id="fuelStation" ng-model="fuelStation" class="form-control" type="text"></input>
								</div>
								<div class="form-group">
									<label for="stationLat">Lat</label>
									<input id="stationLat" class="form-control" type="text"></input>
								</div>
								<div class="form-group">
									<label for="stationLng">Lng</label>
									<input id="stationLng" class="form-control" type="text"></input>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" type="button" data-dismiss='modal', ng-click="saveStation()">Save</button>
							<button class="btn btn-default" type="button" data-dismiss='modal'>Cancel</button>
							<button class="btn btn-danger" type="button" data-dismiss='modal', ng-show="edittingStation" ng-click="removeStation()">Remove</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Cars Tab -->
		<div id="t4" ng-show="menu[3]">
			<h3>Cars</h3>
			<button style="margin-left: 90%;" class="btn btn-primary" data-toggle="modal" data-target="#carModal">ADD</button>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>Nª</th>
						<th>Consume</th>
						<th>Max fuel</th>
						<th>Inicial Fuel</th>
						<th>Velocity</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat='car in arrCars'>
						<td>{{$index+1}}</td>
						<td>{{car.consume}}</td>
						<td>{{car.maxFuel}}</td>
						<td>{{car.inicialFuel}}</td>
						<td>{{car.velocity}}</td>
						<td><button class="btn btn-default" ng-click="editCar($index)" data-toggle="modal" data-target="#carModal">Edit</button></td>
					</tr>
				</tbody>
			</table>


			<!-- modal add and modify car-->
			<div id="carModal" class="modal fade" role="dialog">
				<div class="modal-dialog modal-lg">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button class="close" type="button" data-dismiss='modal'>×</button>
							<h4 class="modal-title" ng-show="!edittingCar">Add Car</h4>
							<h4 class="modal-title" ng-show="edittingCar">Edit Car</h4>
						</div>
						<div id="#modalBody" class="modal-body form-inline form-group">
							<form role="form">								
								<div class="form-group">
									<label for="consume">Consume</label>
									<input id="consume" ng-model="consume" class="form-control" type="text"></input>
								</div>
								<div class="form-group">
									<label for="maxFuel">Max fuel</label>
									<input id="maxFuel" ng-model="maxFuel" class="form-control" type="text"></input>
								</div>
								<div class="form-group">
									<label for="inicialFuel">Inicial fuel</label>
									<input id="inicialFuel" ng-model="inicialFuel" class="form-control" type="text"></input>
								</div>
								<div class="form-group">
									<label for="velocity">Velocity</label>
									<input id="velocity" ng-model="velocity" class="form-control" type="number"></input>
								</div>
								<div class="form-group" ng-show="!edittingCar">
									<label for="numCars">Number of cars</label>
									<input id="numCars" ng-model="numCars" class="form-control" type="number"></input>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button class="btn btn-primary" type="button" data-dismiss='modal', ng-click="saveCar()">Save</button>
							<button class="btn btn-default" type="button" data-dismiss='modal'>Cancel</button>
							<button class="btn btn-danger" type="button" data-dismiss='modal', ng-show="edittingCar" ng-click="removeCar()">Remove</button>
						</div>
					</div>
				</div>
			</div>
		</div>	

				<!-- Cars Tab -->
		<div id="t5" ng-show="menu[4]">
			<h3>Statistics</h3>						
			<div id="spiderWeb" style="min-width: 600px; max-width: 800px; height: 600px; margin: 0 auto"></div>		
		</div>	
	</body>
</html>